<!DOCTYPE html> 
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="../assets/styles/login.css">
    </head>
    <body> 
        <div class="container">
            <h2>Login</h2>
            <input type="text" id="userName" placeholder="Username" />
            <input type="text" id="userPassword"  placeholder="Password" />
            <button class="button" style="">Login</button>
        </div>
    </body>
</html>