.overview{
    background-color: gainsboro;
    padding: 50px 50px 50px 80px;
    margin-bottom: 30px;
}
.totalview{
    margin-top: -150px;
}
.overview img{
    margin: 30px 0 30px 0;
    width: 20%;
    height: 20%;
}
.overview p{
    font-family: Cambria;
    font-size: 30px;
}
.linkBox{
    border: solid 1px #b3b3b3;
    width: auto;
    height: 40px;
    background-color: lightgoldenrodyellow;
    margin-top: 20px;
}