body {
    padding-top: 50px;
    min-width:420px;
}
.navDetail{
    background-color: gainsboro;
}
.navDetail img{
    margin: -12px 0 0 40px;
    width: 45px;
    height: 45px;
}
.navDetail button{
    float: right;
    border-radius:5px;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 80px;
    height: 40px;
    background-color: white;
    margin: 5px 20px 0 0;
}

.sidebar-offcanvas {
    top: 45px;
}

.nav-sidebar {
    margin: 0 0 0 20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
.main {
    padding-right: 40px;
    padding-left: 40px;
    margin-top: -100px;
}
.mainHeader{
    height: 80px;
    padding-left: 30px;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    width: 400px;
    height: 300px;
}
.dropdown{
    float: left;
    margin-right:10px; 
}
input[type=text], select {
    padding: 6px 12px;
    height:32px;
}

@media (max-width: 768px) {
    .navDetail img{ 
        margin: -8px;
        width: 40px;
        height: 40px;
    }
    .navDetail button{
        border-radius:5px;
        color: black;
        cursor: pointer;
        background-color: white;
        float: right;
    }
    .navbar-brand{
        float: left;
    }
    .main {
        top:140px;
    }
    .mainHeader{
        float: left;
    }
    .navbar-header{
        margin-left: 20px;
        margin-right: -10px;
    }
    button{
        width: 100%;
        height: 40px;
    }
    input[type=text], select {
        width: 100%;
        height:32px;
        margin-top: 10px;
    }
    .dropdown{
        width: 100%;
    }
}